examples/basic-eventsource-example.json
[
    {
        "id": "988b9952b61de859",
        "type": "EventSource",
        "z": "771d444d467c569a",
        "name": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "6f18afbd3403a316"
            ],
            [
                "057b6950e4482eee"
            ],
            [
                "3073a1d874ed22c3"
            ]
        ]
    },
    {
        "id": "6f18afbd3403a316",
        "type": "debug",
        "z": "771d444d467c569a",
        "name": "server-sent event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "057b6950e4482eee",
        "type": "debug",
        "z": "771d444d467c569a",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "3073a1d874ed22c3",
        "type": "debug",
        "z": "771d444d467c569a",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "431ec47fd4c4339a",
        "type": "inject",
        "z": "771d444d467c569a",
        "name": "open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
        "payloadType": "json",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "988b9952b61de859"
            ]
        ],
        "info": "Change the `url` and `initDict` values to match your SSE server's configuration.\n\nFor example, here are the parameters for one of the Philips Hue bridges in a home automation system:\n\n    {\n        \"url\": \"https://192.168.1.34/eventstream/clip/v2\",\n        \"initDict\": {\n            \"withCredentials\": false,\n            \"https\": {\n                \"rejectUnauthorized\": false\n            },\n            \"headers\": {\n                \"hue-application-key\": \"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"\n            }\n        }\n    }\n\nTo use your own Hue bridge, change the IP address in the URL and your own propertly configured access token as the value for the `hue-application-key` header. You will need to make more extensive changes to the URL and `initDict` parameters to use this example with a completely different type of SSE server.\n\nSee:\n\n- <https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events>\n\n- <https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events>\n\n- <https://github.com/EventSource/eventsource>"
    },
    {
        "id": "e80786e2b6917f96",
        "type": "inject",
        "z": "771d444d467c569a",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "988b9952b61de859"
            ]
        ]
    },
    {
        "id": "e09dc01332545213",
        "type": "comment",
        "z": "771d444d467c569a",
        "name": "Change EventSource parameters",
        "info": "See the _info_ tab for the `inject` named _open_ for information on making this example work with your SSE server.",
        "x": 190,
        "y": 60,
        "wires": []
    }
]