examples/basic-example.json
[
    {
        "id": "323181fe49afbaf6",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "name": "open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
        "payloadType": "json",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1f27deb7e32e969c"
            ]
        ]
    },
    {
        "id": "b132207a55c473f6",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "1f27deb7e32e969c"
            ]
        ]
    },
    {
        "id": "1f27deb7e32e969c",
        "type": "EventSource",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "ff03436a9249097a"
            ],
            [
                "6eff43ed8f3004eb"
            ],
            [
                "36d4e6a696f8addd"
            ]
        ]
    },
    {
        "id": "6a1cbbd0d91e7a20",
        "type": "status",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "scope": [
            "1f27deb7e32e969c"
        ],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "05b633b375fdb83a"
            ]
        ]
    },
    {
        "id": "05b633b375fdb83a",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "eventsource status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "status.text",
        "statusType": "msg",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "9063d6dc920f805c",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "eventsource message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.type",
        "statusType": "msg",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "6eff43ed8f3004eb",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.type",
        "statusType": "msg",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "36d4e6a696f8addd",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.type",
        "statusType": "msg",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "ff03436a9249097a",
        "type": "function",
        "z": "90b99d3a1e88b8fb",
        "name": "count",
        "func": "let count = context.get('count')\n\ncount += 1\ncontext.set('count', count)\n\nnode.status({\n    text: count,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('count', 0)\n\nnode.status({\n    text: 0,\n    shape: 'dot',\n    fill: 'blue'\n})",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 160,
        "wires": [
            [
                "9063d6dc920f805c"
            ]
        ]
    },
    {
        "id": "f55fe3597cd08475",
        "type": "comment",
        "z": "90b99d3a1e88b8fb",
        "name": "Change parameters to match your server",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    }
]