examples/basic-eventsource-example.json
[
    {
        "id": "59cab9a4ce66b03c",
        "type": "EventSource",
        "z": "17e76c971e0c1b78",
        "name": "",
        "url": "https://192.168.1.34/eventstream/clip/v2",
        "initDict": "{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "39f038d170d86dc3"
            ],
            [
                "292fa4d56c6aa43c"
            ],
            [
                "45d7b25da70cce2c"
            ]
        ],
        "info": "Change the `url` and `initDict` properties to match your SSE server's configuration.\n\nFor example, here are the parameters for one of the Philips Hue bridges in a home automation system:\n\n- `url`:\n\n        https://192.168.1.34/eventstream/clip/v2\n\n- `initDict`:\n\n        {\n            \"withCredentials\": false,\n            \"https\": {\n                \"rejectUnauthorized\": false\n            },\n            \"headers\": {\n                \"hue-application-key\": \"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"\n            }\n        }\n\nTo use your own Hue bridge, change the IP address in the URL and your own propertly configured access token as the value for the `hue-application-key` header. You will need to make more extensive changes to the URL and `initDict` parameters to use this example with a completely different type of SSE server.\n\nSee:\n\n- <https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events>\n\n- <https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events>\n\n- <https://github.com/EventSource/eventsource>"
    },
    {
        "id": "4a4546235f310cc6",
        "type": "inject",
        "z": "17e76c971e0c1b78",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "59cab9a4ce66b03c"
            ]
        ]
    },
    {
        "id": "39f038d170d86dc3",
        "type": "debug",
        "z": "17e76c971e0c1b78",
        "name": "server-sent event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "292fa4d56c6aa43c",
        "type": "debug",
        "z": "17e76c971e0c1b78",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "45d7b25da70cce2c",
        "type": "debug",
        "z": "17e76c971e0c1b78",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "d6388d3b5faaca05",
        "type": "comment",
        "z": "17e76c971e0c1b78",
        "name": "Change EventSource parameters",
        "info": "See the _info_ tab for the `EventSource` node for information on making this example work with your SSE server.",
        "x": 450,
        "y": 80,
        "wires": []
    }
]