examples/eventsource-examples.json
[
    {
        "id": "b8bba80a384e3a94",
        "type": "comment",
        "z": "6e968244c697ac21",
        "name": "These examples assume ${ADDRESS} and ${KEY} are set appropriately for a Philips Hue Bridge",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec81dd46f5505143",
        "type": "comment",
        "z": "6e968244c697ac21",
        "name": "Change them as appropriate for the server to which you wish to connect",
        "info": "",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "150497636af627d7",
        "type": "group",
        "z": "6e968244c697ac21",
        "name": "EventSource that waits for a msg with connection properties to connect",
        "style": {
            "label": true
        },
        "nodes": [
            "4a4546235f310cc6",
            "39f038d170d86dc3",
            "292fa4d56c6aa43c",
            "45d7b25da70cce2c",
            "9055d5f42e64e6d0",
            "bdc3329abbb0475d",
            "59bff11b15203910"
        ],
        "x": 34,
        "y": 359,
        "w": 752,
        "h": 202
    },
    {
        "id": "4a4546235f310cc6",
        "type": "inject",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "59bff11b15203910"
            ]
        ]
    },
    {
        "id": "39f038d170d86dc3",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "server-sent event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "292fa4d56c6aa43c",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "45d7b25da70cce2c",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "9055d5f42e64e6d0",
        "type": "function",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "open",
        "func": "return {\n    payload: {\n        url: 'https://' + env.get('ADDRESS') + '/eventstream/clip/v2',\n        initDict: {\n            withCredentials: false,\n            https: {\n                rejectUnauthorized: false\n            },\n            headers: {\n                'hue-application-key': env.get('KEY')\n            }\n        }\n    }\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 420,
        "wires": [
            [
                "59bff11b15203910"
            ]
        ]
    },
    {
        "id": "bdc3329abbb0475d",
        "type": "inject",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "9055d5f42e64e6d0"
            ]
        ]
    },
    {
        "id": "59bff11b15203910",
        "type": "EventSource",
        "z": "6e968244c697ac21",
        "g": "150497636af627d7",
        "name": "",
        "url": "",
        "urlType": "str",
        "initDict": "{}",
        "initDictType": "json",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "39f038d170d86dc3"
            ],
            [
                "292fa4d56c6aa43c"
            ],
            [
                "45d7b25da70cce2c"
            ]
        ]
    },
    {
        "id": "950d2936066f0c9f",
        "type": "group",
        "z": "6e968244c697ac21",
        "name": "EventSource with preset configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "c218eec39c276320",
            "5e3d57ce70a0db5a",
            "099442aec9d401ec",
            "1c254b6549877dac",
            "e85f750e1ef5c1e5"
        ],
        "x": 34,
        "y": 139,
        "w": 592,
        "h": 202
    },
    {
        "id": "c218eec39c276320",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "950d2936066f0c9f",
        "name": "server-sent event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e3d57ce70a0db5a",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "950d2936066f0c9f",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "099442aec9d401ec",
        "type": "debug",
        "z": "6e968244c697ac21",
        "g": "950d2936066f0c9f",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c254b6549877dac",
        "type": "inject",
        "z": "6e968244c697ac21",
        "g": "950d2936066f0c9f",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e85f750e1ef5c1e5"
            ]
        ]
    },
    {
        "id": "e85f750e1ef5c1e5",
        "type": "EventSource",
        "z": "6e968244c697ac21",
        "g": "950d2936066f0c9f",
        "name": "",
        "url": "https://${ADDRESS}/eventstream/clip/v2",
        "urlType": "env",
        "initDict": "{\t   \"withCredentials\": false,\t   \"https\": {\t       \"rejectUnauthorized\": false\t    },\t   \"headers\": {\t       \"hue-application-key\": $env('KEY')\t    }\t}",
        "initDictType": "jsonata",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c218eec39c276320"
            ],
            [
                "5e3d57ce70a0db5a"
            ],
            [
                "099442aec9d401ec"
            ]
        ]
    }
]