examples/eventsource-with-automatic-reconnection.json
[
    {
        "id": "c34a0c1d71668a90",
        "type": "debug",
        "z": "15df666cb7c474a4",
        "name": "server-sent event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "14207101e3d067cd",
        "type": "debug",
        "z": "15df666cb7c474a4",
        "name": "eventsource open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "d28835e01593a4f9",
        "type": "debug",
        "z": "15df666cb7c474a4",
        "name": "eventsource error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "topic",
        "statusType": "msg",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "462db5828410aade",
        "type": "inject",
        "z": "15df666cb7c474a4",
        "name": "open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "5047826b77e7d7c2"
            ]
        ]
    },
    {
        "id": "1533ca1019b4d78c",
        "type": "inject",
        "z": "15df666cb7c474a4",
        "name": "close",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7773799974319a0b"
            ]
        ]
    },
    {
        "id": "8e0507256fcc85b0",
        "type": "comment",
        "z": "15df666cb7c474a4",
        "name": "Change EventSource parameters",
        "info": "See the _info_ tab for the `change` named _set eventsource parameters_ for information on making this example work with your SSE server.",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "be0f6a1b8421287a",
        "type": "group",
        "z": "15df666cb7c474a4",
        "name": "Attempt to reconnect when readyState is 2",
        "style": {
            "stroke": "none",
            "stroke-opacity": "0.1",
            "label": true,
            "color": "#ff0000",
            "fill": "#ff0000",
            "fill-opacity": "0.1"
        },
        "nodes": [
            "72c57de057decadb",
            "f7f18eaa400f60d8",
            "18637a1b048fc9df",
            "888fddef26e21e25"
        ],
        "x": 194,
        "y": 359,
        "w": 592,
        "h": 142
    },
    {
        "id": "72c57de057decadb",
        "type": "status",
        "z": "15df666cb7c474a4",
        "g": "be0f6a1b8421287a",
        "name": "EventSource status",
        "scope": [
            "7773799974319a0b"
        ],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "f7f18eaa400f60d8"
            ]
        ]
    },
    {
        "id": "f7f18eaa400f60d8",
        "type": "switch",
        "z": "15df666cb7c474a4",
        "g": "be0f6a1b8421287a",
        "name": "equals 2?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 400,
        "wires": [
            [
                "18637a1b048fc9df"
            ],
            [
                "888fddef26e21e25"
            ]
        ]
    },
    {
        "id": "18637a1b048fc9df",
        "type": "trigger",
        "z": "15df666cb7c474a4",
        "g": "be0f6a1b8421287a",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "5047826b77e7d7c2"
            ]
        ]
    },
    {
        "id": "888fddef26e21e25",
        "type": "change",
        "z": "15df666cb7c474a4",
        "g": "be0f6a1b8421287a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "18637a1b048fc9df"
            ]
        ]
    },
    {
        "id": "8359864186740399",
        "type": "group",
        "z": "15df666cb7c474a4",
        "name": "Connect to SSE server",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5047826b77e7d7c2",
            "7773799974319a0b"
        ],
        "x": 194,
        "y": 151.5,
        "w": 512,
        "h": 169.5
    },
    {
        "id": "5047826b77e7d7c2",
        "type": "change",
        "z": "15df666cb7c474a4",
        "g": "8359864186740399",
        "name": "set eventsource parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "7773799974319a0b"
            ]
        ],
        "info": "Change the `url` and `initDict` values to match your SSE server's configuration.\n\nFor example, here are the parameters for one of the Philips Hue bridges in a home automation system:\n\n    {\n        \"url\": \"https://192.168.1.34/eventstream/clip/v2\",\n        \"initDict\": {\n            \"withCredentials\": false,\n            \"https\": {\n                \"rejectUnauthorized\": false\n            },\n            \"headers\": {\n                \"hue-application-key\": \"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"\n            }\n        }\n    }\n\nTo use your own Hue bridge, change the IP address in the URL and your own propertly configured access token as the value for the `hue-application-key` header. You will need to make more extensive changes to the URL and `initDict` parameters to use this example with a completely different type of SSE server.\n\nSee:\n\n- <https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events>\n\n- <https://html.spec.whatwg.org/multipage/server-sent-events.html#server-sent-events>\n\n- <https://github.com/EventSource/eventsource>"
    },
    {
        "id": "7773799974319a0b",
        "type": "EventSource",
        "z": "15df666cb7c474a4",
        "g": "8359864186740399",
        "name": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "c34a0c1d71668a90"
            ],
            [
                "14207101e3d067cd"
            ],
            [
                "d28835e01593a4f9"
            ]
        ]
    }
]