examples/hue-bridge-sse.json
[
    {
        "id": "c9b6961055a6ee1b",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "hue event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd17c5b4813e6c49",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "8947a09ac2a1d788"
            ]
        ]
    },
    {
        "id": "751ef5bac92f8a81",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "fd17c5b4813e6c49"
            ]
        ]
    },
    {
        "id": "4c158b3acee18913",
        "type": "json",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "c9b6961055a6ee1b"
            ]
        ]
    },
    {
        "id": "4ddc87e572d6ec3a",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "4c158b3acee18913"
            ]
        ]
    },
    {
        "id": "22ef22de4df9c4d2",
        "type": "comment",
        "z": "90b99d3a1e88b8fb",
        "name": "Subscribe to SSE events from a Philips Hue Bridge",
        "info": "Replace IP address and client access key values in the first `change` node to match your setup.",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "8947a09ac2a1d788",
        "type": "EventSource",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "4ddc87e572d6ec3a"
            ]
        ]
    }
]
