examples/hue-bridge-sse-with-reconnect.json
[
    {
        "id": "c305ab1e9b808571",
        "type": "group",
        "z": "90b99d3a1e88b8fb",
        "name": "Attempt reconnect if status.text is 2",
        "style": {
            "stroke": "none",
            "fill": "#ff0000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "cd3a1c4d818b9dfd",
            "1fa20e89a17e3be7",
            "588184a8aaa2d7a9",
            "caf5324dced3d7bc",
            "0be4f5d4391afc3c"
        ],
        "x": 94,
        "y": 259,
        "w": 952,
        "h": 82
    },
    {
        "id": "cd3a1c4d818b9dfd",
        "type": "status",
        "z": "90b99d3a1e88b8fb",
        "g": "c305ab1e9b808571",
        "name": "Hue Bridge SSE Status",
        "scope": [
            "6837055cc88c1f7d"
        ],
        "x": 220,
        "y": 300,
        "wires": [
            [
                "caf5324dced3d7bc"
            ]
        ]
    },
    {
        "id": "1fa20e89a17e3be7",
        "type": "switch",
        "z": "90b99d3a1e88b8fb",
        "g": "c305ab1e9b808571",
        "name": "if payload is 2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 300,
        "wires": [
            [
                "588184a8aaa2d7a9"
            ]
        ]
    },
    {
        "id": "588184a8aaa2d7a9",
        "type": "trigger",
        "z": "90b99d3a1e88b8fb",
        "g": "c305ab1e9b808571",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "fd17c5b4813e6c49"
            ]
        ]
    },
    {
        "id": "caf5324dced3d7bc",
        "type": "rbe",
        "z": "90b99d3a1e88b8fb",
        "g": "c305ab1e9b808571",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "status.text",
        "topi": "topic",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "0be4f5d4391afc3c"
            ]
        ]
    },
    {
        "id": "0be4f5d4391afc3c",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "g": "c305ab1e9b808571",
        "name": "get status.text as number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(status.text)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "1fa20e89a17e3be7"
            ]
        ]
    },
    {
        "id": "144a8ea04ca059da",
        "type": "group",
        "z": "90b99d3a1e88b8fb",
        "name": "Subscribe to events sent by a Philips Hue bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c9b6961055a6ee1b",
            "fd17c5b4813e6c49",
            "751ef5bac92f8a81",
            "4c158b3acee18913",
            "4ddc87e572d6ec3a",
            "6837055cc88c1f7d",
            "1d6cc2185ae37fe5"
        ],
        "x": 94,
        "y": 99,
        "w": 1132,
        "h": 149.5
    },
    {
        "id": "c9b6961055a6ee1b",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "hue event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd17c5b4813e6c49",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "set evensource parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "6837055cc88c1f7d"
            ]
        ]
    },
    {
        "id": "751ef5bac92f8a81",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "fd17c5b4813e6c49"
            ]
        ]
    },
    {
        "id": "4c158b3acee18913",
        "type": "json",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "c9b6961055a6ee1b"
            ]
        ]
    },
    {
        "id": "4ddc87e572d6ec3a",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "get payload.data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "4c158b3acee18913"
            ]
        ]
    },
    {
        "id": "6837055cc88c1f7d",
        "type": "EventSource",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "Hue Bridge SSE",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "4ddc87e572d6ec3a"
            ],
            [],
            []
        ]
    },
    {
        "id": "1d6cc2185ae37fe5",
        "type": "comment",
        "z": "90b99d3a1e88b8fb",
        "g": "144a8ea04ca059da",
        "name": "Change parameters to match your bridge",
        "info": "",
        "x": 460,
        "y": 140,
        "wires": []
    }
]