examples/hue-bridge-sse-with-reconnect.json
[
    {
        "id": "22ef22de4df9c4d2",
        "type": "comment",
        "z": "90b99d3a1e88b8fb",
        "name": "Track status of EventSource connection",
        "info": "Replace IP address and client access key values in the first `change` node to match your setup.",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "c9b6961055a6ee1b",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "name": "hue event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd3a1c4d818b9dfd",
        "type": "status",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "scope": [
            "6837055cc88c1f7d"
        ],
        "x": 100,
        "y": 200,
        "wires": [
            [
                "caf5324dced3d7bc"
            ]
        ]
    },
    {
        "id": "1fa20e89a17e3be7",
        "type": "switch",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "588184a8aaa2d7a9"
            ],
            [
                "74f7e4116347d692"
            ]
        ]
    },
    {
        "id": "588184a8aaa2d7a9",
        "type": "trigger",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "fd17c5b4813e6c49"
            ]
        ]
    },
    {
        "id": "caf5324dced3d7bc",
        "type": "rbe",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "status.text",
        "topi": "topic",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "1fa20e89a17e3be7"
            ]
        ]
    },
    {
        "id": "fd17c5b4813e6c49",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "6837055cc88c1f7d"
            ]
        ]
    },
    {
        "id": "751ef5bac92f8a81",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 100,
        "wires": [
            [
                "fd17c5b4813e6c49"
            ]
        ]
    },
    {
        "id": "4c158b3acee18913",
        "type": "json",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1250,
        "y": 140,
        "wires": [
            [
                "c9b6961055a6ee1b"
            ]
        ]
    },
    {
        "id": "4ddc87e572d6ec3a",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 140,
        "wires": [
            [
                "4c158b3acee18913"
            ]
        ]
    },
    {
        "id": "74f7e4116347d692",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "588184a8aaa2d7a9"
            ]
        ]
    },
    {
        "id": "6837055cc88c1f7d",
        "type": "EventSource",
        "z": "90b99d3a1e88b8fb",
        "name": "Hue Bridge SSE",
        "x": 920,
        "y": 140,
        "wires": [
            [
                "4ddc87e572d6ec3a"
            ]
        ]
    }
]
