examples/hue-bridge-sse.json
[
    {
        "id": "cb2a4b773383e5a7",
        "type": "group",
        "z": "90b99d3a1e88b8fb",
        "name": "Subscribe to events sent by a Philips Hue bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "983c531ae51a1ff3",
            "4e42bd22b2ac99e0",
            "8e81deda9af100cb",
            "fa7cc4292a0a132a",
            "b8df4dd303f9d4ef",
            "368ea8566bb684e7",
            "d662c50da3581a75"
        ],
        "x": 34,
        "y": 39,
        "w": 1112,
        "h": 149.5
    },
    {
        "id": "983c531ae51a1ff3",
        "type": "debug",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "hue event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e42bd22b2ac99e0",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "set eventsource parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://192.168.1.34/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":\"-6ay0JIz8Kd1PV00yBYQ75bo6hlVBN2mopvXnrNa\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "368ea8566bb684e7"
            ]
        ]
    },
    {
        "id": "8e81deda9af100cb",
        "type": "inject",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "4e42bd22b2ac99e0"
            ]
        ]
    },
    {
        "id": "fa7cc4292a0a132a",
        "type": "json",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "983c531ae51a1ff3"
            ]
        ]
    },
    {
        "id": "b8df4dd303f9d4ef",
        "type": "change",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "get payload.data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "fa7cc4292a0a132a"
            ]
        ]
    },
    {
        "id": "368ea8566bb684e7",
        "type": "EventSource",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "Hue Bridge SSE",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b8df4dd303f9d4ef"
            ],
            [],
            []
        ]
    },
    {
        "id": "d662c50da3581a75",
        "type": "comment",
        "z": "90b99d3a1e88b8fb",
        "g": "cb2a4b773383e5a7",
        "name": "Change parameters to match your bridge",
        "info": "",
        "x": 380,
        "y": 80,
        "wires": []
    }
]